.tournament-wrapper {
  width: 1200px;
  margin: auto;
  padding: 24px;
}

.tournament-card {
  display: flex;
  align-items: center;
  margin: auto;
}

.tournament-card .tournament-pic {
  margin-left: 24px;
  width: 200px;
}

.tournament-card-head-title {
  font-weight: bold;
}
