.tournament-wrapper {
  background-color: #f0f2f5;
  padding: 24px;
}

.tournament-card {
  display: flex;
  align-items: center;
  margin: auto;
  width: 70%;
}

.tournament-card .tournament-pic {
  margin-left: 24px;
  width: 200px;
}

.tournament-card-head-title {
  font-weight: bold;
}
