.title {
  text-align: center;
  margin-top: 24px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-bottom: 24px;
}

.map-container {
  height: 600px;
  width: 85%;
  margin: auto;
}

.list-container {
  height: 600px;
  width: 85%;
  margin: auto;
  overflow: auto;
}
