.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #43cea2, #185a9d);
}
  
.register-form {
  width: 400px;
}

.register-form-button {
  width: 100%;
}